/* Style the tab */
input#data {
    margin-left: -653px;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}



button#update-button {

background: #0066A2;

color: white;

border-style: solid;

border-color: #0066A2;

height: 30px;

width: 100px;

font:  13px arial, sans-serif;

text-shadow:none;

border-radius: 3px;
border-width: 1px;

}

button#update-button:hover {

background: #016ABC;

color: #fff;

border: 1px solid #eee;

border-radius: 3px;

box-shadow: 5px 5px 5px #eee;

text-shadow:none;
border-style: solid;
border-width: 1px;

cursor: pointer;
}


hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
} 

table {
  border-collapse: collapse;
}
td {
  border-bottom: 1px solid #cecfd5;
  padding: 10px 15px;
}




a.boxclose{
    float:right;
    margin-top: -43px;
    margin-right: 249px;
    cursor:pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 30px;
    background: #605F61;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;       
}

.boxclose:before {
    content: "×";

}


.form-table td {
  padding: 35px 4px !important;  
}





button#remove-button {

background: #0066A2;

color: white;

border-style: solid;

border-color: #0066A2;

height: 30px;

width: 158px;

font:  13px arial, sans-serif;

text-shadow:none;

border-radius: 3px;
border-width: 1px;

margin-left: 40px;

}

button#remove-button:hover {

background: #016ABC;

color: #fff;

border: 1px solid #eee;

border-radius: 3px;

box-shadow: 5px 5px 5px #eee;

text-shadow:none;
border-style: solid;
border-width: 1px;

cursor: pointer;

}


span.notice-shortcode {
    background-color: #fff;
    padding: 0px;
    border-left: #0C94BE 4px solid;
    border-right: #0C94BE 4px solid;
    margin-right: 295px;
}


input.head:focus {
    outline: 0 !important; 
    border: none !important;
    box-shadow: 0 0 !important;
}

.heading{
  font-family: Raleway;
  font-size: 20px;
  
  font-style: italic;
  text-decoration: none;
  text-align: center;
  line-height: 1.5em;

}

/*none | underline | overline | line-through | initial | inherit*/